/*
	css reset
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
        outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*
	base
*/
.clearboth {
	clear:both;
}
.fl {
	float:left;
}
.w486 {
	width: 486px;
}
.w498 {
	width: 498px;
}
.con-h300 {
	height: 300px;
}
.con-h322 {
	height: 322px;
}
.con-h450 {
	height: 450px;
}


/*
	common
*/
body {
	background-image: url("纹理");
	background-repeat: repeat;
	background-color: #08184c;
	width: 1024px;
	height:1526px;
	color: #ffffff;
	font-family: "Franklin Gothic Book","微软雅黑";
	overflow:hidden;
}
.container {
	/*background: url("高光") no-repeat #3b80db;*/
}
.header {
	width: 100%;
	height: 45px;
	background: #040c2f;
	border-bottom: 1px solid #040c2f;
	margin-bottom: 18px;
	position: relative;
}
.header .logo img{
	width: 80px;
	height: 100%;
	background-color:blue;
}

.search {
	position: absolute;
	left: 673px;
	top: 10px;
	width: 143px;
	height: 23px;
	border: 1px solid #3e3e4c;
}

.header .user-information {
	position: absolute;
	left: 834px;
	top: 10px;
	width: 126px;
	height: 23px;
	line-height: 23px;
	font-size: 14px;
	color: #848484;
	text-indent: 12px;
	border: 1px solid #3e3e4c;
}

.header .user-image {
	width: 35px;
	height: 35px;
	border-width: 0px;
	border-radius: 17px;
	position: absolute;
	top: 4px;
	right: 14px;
}

.menu {
	float: left;
	width: 135px;
	height: 1365px;
	margin-right: 6px;
	background-color: #050c32;
	background-image: url("纹理");
	background-repeat: repeat;
	position: relative;
}
.menu-header {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom:1px solid #2a67b3;
}
.menu-list {
	position: absolute;
	height: 1331px;
	overflow-y: auto;
	/*overflow:hidden;*/
}
.menu-list .item{
	text-align: center;
	padding: 0 8px;
	font-weight: normal;
	line-height: 34px;
	border-bottom:1px solid #2a67b3;
}
.menu-list .selected {
	background-color: #162e77;
	border-bottom-color: #1a9af3;
}

.main {
	float: left;
}
.main .wrap {
	border:1px solid #3754a5;
	margin-bottom:21px;
}

.main .wrap-header {
	height: 38px;
	background-color: #152a6a;
	border: 1px solid #3754a5;
	line-height: 41px;
	text-indent: 48px;
	position: relative;
} 
.main .wrap-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	position: absolute;
	left: 15px;
	top: 10px;
	background: blue;
}
.main .wrap-content {
	overflow: hidden;
	background-color: #000120;
}
.header .search {
	background: url("../image/icon2.png") no-repeat 120px 3px;	
}
.header .user-information {
	background: url("../image/icon2.png") no-repeat 105px -25px;
}
.header .user-image {
	background: url("../image/icon.png") no-repeat 0 -60px;	
}
.pie .wrap-icon {
	background: url("../image/icon.png") no-repeat 0 0;
}
.column_slide .wrap-icon,
.line .wrap-icon {
	background: url("../image/icon.png") no-repeat -30px 0;
}
.mod-table .wrap-icon {
	background: url("../image/icon.png") no-repeat -60px 1px;	
}
.column .wrap-icon {
	background: url("../image/icon.png") no-repeat -93px 0px;	
}
#calendar .wrap-icon {
	background: url("../image/icon.png") no-repeat -128px 0px;	
}
	



/*
	page
*/
#manager .main,
#administrator .main {
	width: 871px;
}

#employee .main {
	padding-left: 8px;
}
.column {
	margin-left: 18px;
}
#calendar .date{
	width: 304px;
	height: 100%;
	border-right: 1px solid #324e9d;
}
#calendar .countdown {
	width: 181px;
	height: 100%;
	position: 
}
#calendar .countdown-box {
	position: relative;;
}

#calendar .countdown .title {
	position: absolute;
	font-size: 16px;
	left: 45px;
	top: 51px;
}
#calendar .countdown .day{
	position: absolute;
	left: 38px;
	top: 107px;
}
#calendar .countdown .month{
	position: absolute;
	left: 56px;
	top: 207px;
}
#calendar .countdown .year{
	position: absolute;
	left: 100px;
	top: 207px;
}

#calendar .countdown .day span {
	display:block;
	float: left;
	width: 42px;
	height: 76px;
	border: 2px solid #025690;
	font-size: 56px;
	line-height: 76px;
	margin-left: 3px;
	text-align: center;
}
#calendar .countdown .month span,
#calendar .countdown .year span  {
	display: block;
	float: left;
	width: 17px;
	height: 30px;
	border: 1px solid #025690;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
}


.mod-table .table-box,
#employee .table-box {
	margin-top: 27px;
	width: 782px;
	height: 334px;
}

#administrator form, 
#manager form, 
#employee form {
	display: none;
}

/*
	SVG	
*/
svg {
	width:100%;
	height:100%;
}
.axis path,
.axis line {
  fill: none;
  stroke: #0778c7;
  shape-rendering: crispEdges;
}
.axis text {
	fill: #c3d7de;
}
.legen text{
	fill:#ffffff;
	font-size: 13px;
}
#employee .x text {
	visibility: hidden;
}
#employee .x .tick, 
#employee .x path {
	display: none;
}
#employee .y path{
	display: none;
}
.column_slide .chart .x text{
	fill: none;
}



/*
	日历组件 #calendar .date
*/
#calendar .date {
	position: relative;
}

#calendar .date table {
	width: 266px;
	margin: 15px auto 0 auto;
}

#calendar .date caption {
	font-weight: bold;
	height: 40px;
	line-height: 40px;
}
#calendar .date tr {
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}
#calendar .date th {
	color: #4fc4f6;
}

#calendar .date td {
	color: #8a96b6;
	text-align: center;
}
#calendar .btn{
	width:30px;
	height:30px;
	background-color: blue;
	position: absolute;
	top: 25px;
}
#calendar #prevMonth {
	left: 20px;
}
#calendar #nextMonth {
	right:20px;
}
#calendar .date .today {
	color: #ffffff;
}

/*
	table 组件
*/
table {
	width: 100%;
}
.mod-table th,
.mod-table td {
	height: 36px;
	line-height: 36px;
	font-size: 13px;
	border:1px solid #334e9d;
}
.mod-table form {
	width: 782px;
	margin: 37px auto 0 auto;
}
.mod-table form :first-child {
	margin-left: 0;
}
.mod-table label {
	margin-left: 29px;
	font-size: 14px;
}
.mod-table select {
	width: 98px;
	border-width: 0;
}
.table-box {
	margin: 0 auto;
	overflow: auto;
}
.table-box .Deliverable-ID {
	width: 278px;
}
.table-box .Deliveralbe-Type {
	width: 182px;
}
.table-box .RP-Start-Date {
	width: 198px;
}
.table-box .General-Comments {
	width: 128px;
}
.table-box tr td:first-child {
	text-indent: 8px;
}
.table-box tr td:nth-child(2) {
	text-indent: 56px;
	position: relative;
}
.table-box tr td:nth-child(2) i{
	position: absolute;
	top:11px;
	left:25px;
	width: 17px;
	height: 17px;
	border-radius: 9px;
	background-color: #f4da00;
}
.table-box tr td:nth-child(3) {
	text-align: center;
}
.table-box tr td:nth-child(4) {
	text-align: center;
}
.table-box .select{
	background-color: #025690;
}
.mod-table .selected {
	background: #025690;
}


/*
	select 组件
*/

.select .wrap-content {
	position: relative;
}
.select select {
	width: 129px;
	height: 25px;
	padding-left: 20px;
	border:0;
	color: #1a9af3;
	position: absolute;
	top: 27px;
	left: 48px;
}
.select option {
	width: 129px;
	height: 25px;
}